---
import type { Page, PaginateFunction } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import JournalEntryCard from '../../components/journal/JournalEntryCard.astro';

interface Props {
    page: Page<CollectionEntry<'journal'>>;
}

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
    const allJournalEntries = await getCollection('journal');
    const sortedEntries = allJournalEntries.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
    return paginate(sortedEntries, { pageSize: 10 });
}

const { page } = Astro.props;
---

<BaseLayout title="Andrew's Daily Journal">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-8">Journal Entries</h1>
        <div class="flex flex-col md:flex-row gap-4">
            <div class="pl-20 md:w-3/4">
                {page.data.map(entry => <JournalEntryCard entry={entry} />)}
                <div class="mt-8 flex justiry-between">
                    {page.url.prev ? <a href={page.url.prev} class="bg-sky-400 hover:bg-sky-600 text-white px-4 py-2 rounded">Previous</a> : <div></div>}
                    {page.url.next ? <a href={page.url.next} class="bg-sky-400 hover:bg-sky-600 text-white px-4 py-2 rounded">Next</a> : <div></div>}
                </div>
            </div>
        </div>
    </div>
</BaseLayout>


