---
import { Image } from 'astro:assets';
import codingatnight from '../../assets/images/codingatnight.png';
---
<section class="flex flex-col md:flex-row items-center justify-between py-16 px-12">
    <div class="md:w-1/2 mb-8 md:mb-0">
        <h1 class="text-4xl font-bold mb-4">About Andrew</h1>
        <h2 class="text-2xl text-sky-500 mb-4">Full-Stack Developer in North Carolina</h2>
        <p class="text-md">My name is Andrew John Weisbeck and I am a 33 year old computer science lovin' dude who shares
            his life with an awesome chick named Lisa and our kitty, Bean. I am super passionate about programming - it
            is likely that I am doing something related to tech and coding at any point in the day. I would love to apply
            my immense passion, ambitious drive, and creative problem solving skills on a team in a professional environment. In
            my four years as a full-stack developer, I have worked solo as freelancer, but am working hard to change that!
        </p>
    </div>
    <div class="md:w-1/2 flex justify-center">
        <Image
            src={codingatnight}
            alt="Coding at night"
            class="rounded-lg shadow-lg"
            width={400}
            height={400}
        />
    </div>
</section>
