---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutHero from '../components/about/AboutHero.astro';
import WorkExperience from "../components/about/WorkExperience.astro";
import Timeline from '../components/about/Timeline.astro';
import SkillsSection from '../components/about/SkillsSection.astro';

const jobs = [
  {
    title: "Freelance Full Stack Developer",
    company: "Tar Heel Dev Studio",
    summary: "Deliver high quality web development, marketing, and design services to small businesses and non-profits.",
    dateWorked: "2021 - Present",
    duties: [
      "Architected and implemented scalable backend systems using Node.js and Express",
      "Developed responsive front-end interfaces with React and Next.js",
      "Optimized website performance and implemented SEO best practices",
      "Built and maintained RESTful APIs using Python and Django",
      "Created interactive data visualizations with D3.js",
      "Implemented automated testing and continuous integration pipelines"
    ]
  },
  {
    title: "SOC Analyst",
    company: "Iron Range Cyber, formerly CyberOpz",
    summary: "Worked on a team of SOC analysts to identify and respond to security incidents",
    dateWorked: "2018 - 2020",
    duties: [
      "Improved incident response rate by 15% by coordinating with SOC managers and analyzing security events.",
      "Enhanced system security by evaluating and improving authentication methods by 20%.",
      "Implemented vulnerability scanning and patching to reduce vulnerability exposure by 30%."
    ]
  },
  {
    title: "Content Creator",
    company: "Freelance",
    summary: "Deliver high quality content for various blogs, newsletters, and other various platforms.",
    dateWorked: "2020 - Present",
    duties: [
      "Create detailed technical tutorials for developers on the Hashnode platform for GeauxCode.dev",
      "Educated readers on algorithms, especially Russian Peasant Multiplication on the Dev.to blogging platform",
      "Write blog posts, publications, and newsletters on Medium, Substack, Beehiv, and other platforms."
    ]
  }
];

const timelineEvents = [
  {
    title: "Graduated from the University of Nebraska-Lincoln",
    description: "Earned a Bachelor's of Science in Business Administration with a minor in Finance.",
    date: "2014",
    link: "https://unl.edu"
  },
  {
    title: "Start Learning JavaScript, HTML, and SQL",
    description: "Started learning web development on Codecademy for the first time.",
    date: "2015",
    link: "https://codecademy.com"
  },
  {
    title: "Launched First Public Blog, Behaving Like an American",
    description: "Started Behaving Like an American, a behavioral economics blog I created with WordPress.",
    date: "2017",
    link: "https://behavinglikeanamerican.net"
  },
  {
    title: "Purchasing Manager at Birddog Distributing Inc.",
    description: "Gained valuable eCommerce experience serving as the Purchasing Manager at Birddog Distributing Inc.",
    date: "2017",
    link: "https://birddogdistributing.com"
  },
  {
    title: "Started WeisMind Consulting in Bozeman, MT",
    description: "Started WeisMind Consulting, a content marketing, writing, and business consulting company.",
    date: "2017",
    link: "https://weismind.com"
  },
  {
    title: "Moved to North Carolina to work at SunTrust Bank",
    description: "Moved to North Carolina from Montana to work at SunTrust Bank.",
    date: "2019",
    link: "https://suntrust.org"
  },
  {
    title: "Started role as SOC Analyst at CyberOpz, now Iron Range Cyber",
    description: "Started my first real tech job as a SOC Analyst at CyberOpz, now Iron Range Cyber.",
    date: "2021",
    link: "https://ironrangecyber.com"
  },
  {
    title: "Started Tar Heel Dev Studio",
    description: "Created Tar Heel Dev Studio as my freelance web development, marketing, and design business.",
    date: "2021",
    link: "https://tarheeldevstudio.com"
  },
  {
    title: "Completed Full-Stack Developer Online Bootcamp Course",
    description: "Completed Dr. Angela Yu's Full-Stack Developer Online Bootcamp Course on Udemy.",
    date: "2021",
    link: "https://udemy.com"
  },
  {
    title: "Launched Personal Tech Blog, GeauxCode.dev",
    description: "Started sharing my knowledge and experiences in web development on Hashnode.",
    date: "2023",
    link: "https://geauxcode.dev"
  }
];

const skills = [
  { name: "JavaScript", progress: 90, link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript", icon: "JavaScript" },
  { name: "React", progress: 85, link: "https://reactjs.org/", icon: "reactjs" },
  { name: "Node.js", progress: 90, link: "https://nodejs.org/", icon: "nodejs" },
  { name: "Python", progress: 95, link: "https://www.python.org/", icon: "Python" },
  { name: "Django", progress: 85, link: "https://www.djangoproject.com/", icon: "Django" },
  { name: "PostgreSQL", progress: 80, link: "https://postgresql.org", icon: "PostgreSQL" },
  { name: "HTML5", progress: 100, link: "https://developer.mozilla.org/en-US/docs/Web/HTML", icon: "HTML5" },
  { name: "CSS3", progress: 97, link: "https://developer.mozilla.org/en-US/docs/Web/CSS", icon: "CSS3" },
  { name: "Git", progress: 95, link: "https://git-scm.com/", icon: "Git" },
  { name: "Docker", progress: 85, link: "https://www.docker.com/", icon: "docker" },
  { name: "AWS", progress: 65, link: "https://aws.amazon.com/", icon: "aws" },
  { name: "GraphQL", progress: 60, link: "https://graphql.org/", icon: "graphql" },
  { name: "TypeScript", progress: 75, link: "https://www.typescriptlang.org/", icon: "TypeScript" },
  { name: "MongoDB", progress: 85, link: "https://www.mongodb.com/", icon: "MongoDB" },
  { name: "Redux", progress: 70, link: "https://redux.js.org/", icon: "redux" }
];
---
<BaseLayout title="About Andrew">
    <main class="container mx-auto px-4 py-8">
        <AboutHero />
        <WorkExperience jobs={jobs} />
        <SkillsSection skills={skills} />
        <Timeline events={timelineEvents} />

        <section class="newsletter py-16 px-12">
          <div class="container mx-auto px-6">
            <h2 class="text-3xl font-bold mb-4 text-center">Subscribe to My Newsletter</h2>
            <p class="text-lg text-slate-500 mb-4 text-center">Stay up to date with my latest work, deals, and product updates!</p>
            <form class="max-w-md mx-auto">
              <div class="flex">
                <input type="email" placeholder="Enter your email" class="border-2 border-slate-300 flex-1 px-4 py-2 rounded-l mr-8" />
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-r hover:bg-blue-700">Subscribe</button>
              </div>
            </form>
          </div>
        </section>
    </main>
</BaseLayout>
