---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import codingatnight from '../assets/images/codingatnight.png';
import RecentBlogPosts from '../components/home/RecentBlogPosts.astro';
import FeaturedProjects from '../components/home/FeaturedProjects.astro';
import JournalEntries from '../components/home/JournalEntries.astro';
---
<BaseLayout>
	<section class="hero py-16 px-12">
		<div class="container mx-auto px-6 flex items-center">
			<div class="w-1/2">
				<h1 class="text-4xl font-bold mb-4">Hey y'all, I'm Andrew!</h1>
				<p class="mb-6">I'm a passionate web developer and content creator. I love building things and sharing my knowledge with others. Send me a message if you would like to hire me or work together!</p>
				<div class="space-x-4">
					<a href="/contact" class="bg-sky-500 text-white px-4 py-2 rounded hover:bg-sky-700">Contact Me</a>
					<a href="/resume" class="bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-700">View Resume</a>
				</div>
			</div>
			<div class="w-1/2">
				<Image src={codingatnight} class="w-64 h-64 rounded-full mx-auto" alt="Coding at Night" />
			</div>
		</div>
	</section>


	<RecentBlogPosts />
	<FeaturedProjects />
	<JournalEntries />


	<section class="newsletter py-16 px-12">
		<div class="container mx-auto px-6">
			<h2 class="text-3xl font-bold mb-4 text-center">Subscribe to My Newsletter</h2>
			<p class="text-lg text-slate-500 mb-4 text-center">Stay up to date with my latest work, deals, and product updates!</p>
			<form class="max-w-md mx-auto">
				<div class="flex">
					<input type="email" placeholder="Enter your email" class="border-2 border-slate-300 flex-1 px-4 py-2 rounded-l mr-8" />
					<button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-r hover:bg-blue-700">Subscribe</button>
				</div>
			</form>
		</div>
	</section>
</BaseLayout>
