---
import { getCollection } from 'astro:content';

const allEntries = await getCollection('journal');
const recentEntries = allEntries
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 5);
---

<section class="my-8 px-20">
    <h2 class="text-2xl font-bold mb-4 text-center">Recent Journal Entries</h2>
    <div class="flex justify-left w-full">
    <ul class="space-y-4 w-3/4">
        {recentEntries.map((entry) => (
            <a href={`/journal/${entry.slug}`}>
                <div class="pb-2 text-left list-disc mt-4">
                    <h3 class="text-lg font-semibold text-blue-600">
                            {entry.data.title}
                    </h3>
                    <p class="text-gray-600 text-sm">{entry.data.date.toLocaleDateString()}</p>
                    </div>
                    <p class="text-gray-700 text-sm">{entry.data.description}</p>
                </li>
            </a>
        ))}
    </ul>
    </div>
</section>
