---
const { tools } = Astro.props;
---

<div class="overflow-x-auto">
    <table class="min-w-full bg-white">
        <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">Title</th>
                <th class="py-3 px-6 text-left">Link</th>
                <th class="py-3 px-6 text-left">Description</th>
                <th class="py-3 px-6 text-left">Category</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
            {tools.map(tool => (
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left whitespace-nowrap">{tool.data.title}</td>
                    <td class="py-3 px-6 text-left">
                        <a href={tool.data.link} class="text-blue-600 hover:underline" target="_blank" rel="noopener noreferrer">
                            {new URL(tool.data.link).hostname}
                        </a>
                    </td>
                    <td class="py-3 px-6 text-left">{tool.data.description}</td>
                    <td class="py-3 px-6 text-left">{tool.data.category}</td>
                </tr>
            ))}
        </tbody>
    </table>
</div>
