---
import BaseLayout from "./BaseLayout.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  date: Date;
  file: string;
  url: string;
  headings: any;
  rawContent: any;
  compiledContent: any;
  frontmatter: any;
}>

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <section class="max-w-4xl mx-20 my-10 pl-20">
        <h1 class="text-4xl font-bold mb-4">{frontmatter.title}</h1>
        <p class="text-teal-500 font-bold mb-4">
            {frontmatter.date.toLocaleDateString()}
        </p>
        <div class="prose max-w-none pr-20">
            <slot />
        </div>
    </section>
</BaseLayout>
