---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <article class="max-w-3xl mx-">
        <h1 class="text-4xl font-bold mb-4">{frontmatter.title}</h1>
        <p class="text-gray-600 mb-4">
            {frontmatter.date.toLocaleDateString()} | {frontmatter.author}
        </p>
        <div class="prose max-w-none">
            <slot />
        </div>
    </article>
</BaseLayout>
